/* --------------------------------*/
/* Fonts */
/* --------------------------------*/

/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('/vendors/fonts/google-fonts/Montserrat-Thin.ttf');  
  src: url('/vendors/fonts/google-fonts/Montserrat-Thint.ttf') format('ttf'),
       url('/vendors/fonts/google-fonts/Montserrat-Thin.ttf') format('truetype');
}

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('/vendors/fonts/google-fonts/Montserrat-ExtraLight.ttf');  
  src: url('/vendors/fonts/google-fonts/Montserrat-ExtraLight.ttf') format('ttf'),
       url('/vendors/fonts/google-fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/vendors/fonts/google-fonts/Montserrat-Light.ttf');  
  src: url('/vendors/fonts/google-fonts/Montserrat-Light.ttf') format('ttf'),
       url('/vendors/fonts/google-fonts/Montserrat-Light.ttf') format('truetype');
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/vendors/fonts/google-fonts/Montserrat-Regular.ttf');  
  src: url('/vendors/fonts/google-fonts/Montserrat-Regular.ttf') format('ttf'),
       url('/vendors/fonts/google-fonts/Montserrat-Regular.ttf') format('truetype');
}


/* --------------------------------*/
/* General */
/* --------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 200;

    text-rendering: optimizeLegibility;
    /*background:url(images/fon.png);*/
}

.clearfix {
    clear: both;
}

:focus {
    outline: none;
}

/* Header Row ------------------------------------*/
/* -----------------------------------------------*/

.navi {
    display: inline-block;
    height: 85px;
    float: left;
    width: 95%;
    margin: 0 3%;
    overflow: hidden;
/*    background-color: #f8f8f8;*/
}

p {
    font-size: 18px;
    margin-top: 34px;
/*    text-shadow: 2px 1px 4px rgba(178, 178, 178, 0.8)*/
}

p.small {
    font-size: 17px;
    margin-top: 35px;
    text-align: center;
    padding: 0;
    color: #3d3d3d;
/*    text-shadow: none;*/
    cursor: pointer;
}

.icon-small {
    font-size: 30px;
    display: block;
    color: #3d3d3d;
    margin-top: 30px;
    cursor: pointer;
}

.icon-small:hover,
p.small:hover {
    color: #024cc1;
}

.icon-box {
    box-sizing: border-box;
    text-align: center;
}

.navi img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

/* Gallery Row -----------------------------------*/
/* -----------------------------------------------*/

.gallery {
    margin: 10px 0;
    padding: 0px 0 0 0px;
    overflow: auto;
    height: 83vh;
/*    background-color: #f8f8f8;*/
    margin: 0 3%;
}

a {
    display: inline-block;
    width: 160px;
    height: 112px;
    position: relative;
    /*border:2px solid #fff;*/
}

a img {
    display: block;
    width: 90%;
    height: 90%;
    //transition-property: width, height, top, bottom, left, right, z-index;
    //transition-duration: .5s;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    //cursor: pointer;
    box-shadow: 2px 2px 4px 0px #8d8d8d;
    user-select: none;
}

.closed-layer {
    display: none;
    position: absolute;
    top: 87px;
    left: 0px;
    width: 100%;
    height: 80vh;
    background: transparent;
    z-index: 30;
    cursor: pointer;
}

.img-selected-border {
    border: 2px solid #024cc1;
    box-shadow: 3px 3px 4px 0px #b1b1b1;
/*    transition: 0.2s;*/
}




