<div ng-controller="LedController">
    <div class="row">

        <!-- Live Image -->
        <div class="col span-3-of-4">
            <div class="live-image">
                <img src="resources/img/Algea.jpg" id="uploaded-image" class="img-responsive" alt="Live Image" />
            </div>
        </div>
        <div class="col span-1-of-4">
            <div class="row">

                <!-- Acquisition Mode Selection -->
                <div class="acqui">
                    <div class="col span-1-of-5 box tooltip">
                        <img id="mode1" src="resources/img/Single-Image.png" data-swap="resources/img/Single-Image-selected.png" data-src="resources/img/Single-Image.png" onClick="swapImage()" />
                        <span class="tooltiptext">Snapshots</span>
                    </div>
                    <div class="col span-1-of-5 box tooltip">
                        <img id="mode2" src="resources/img/Time-Lapse.png" data-swap="resources/img/Time-Lapse-selected.png." data-src="resources/img/Time-Lapse.png" onClick="swapImage()" />
                        <span class="tooltiptext">Time Lapse</span>
                    </div>
                    <div class="col span-1-of-5 box tooltip">
                        <img id="mode3" src="resources/img/Movie.png" data-swap="resources/img/Movie-selected.png" data-src="resources/img/Movie.png" onClick="swapImage()" />
                        <span class="tooltiptext">Movies</span>
                    </div>
                    <div class="col span-1-of-5 box tooltip">
                        <img id="mode4" src="resources/img/Area-Scan.png" data-swap="resources/img/Area-Scan-selected.png" data-src="resources/img/Area-Scan.png" onClick="swapImage()" />
                        <span class="tooltiptext">Area Scans</span>
                    </div>
                    <div class="col span-1-of-5 box">
                        <img src="resources/img/Blue-Dragon-logo.png" alt="BD Logo" />
                    </div>
                </div>
            </div>


            <!-- Illumination Mode Selection -->
            <div class="row clearfix">
                <div class="illumi">
                    <div class="icon-box">
                        <i class="ion-ios-lightbulb-outline icon-small"></i>
                    </div>
                    <div class="icon-box illum_mode">
                        <button onclick="imaging('3A')" class="button highlight">BF</button>
                    </div>
                    <div class="icon-box illum_mode">
                        <button onclick="imaging('4A')" class="button">OB</button>
                    </div>
                    <div class="icon-box illum_mode">
                        <button onclick="imaging('6A')" class="button">DF</button>
                    </div>
                </div>
            </div>


            <!-- Magnification Selection -->
            <div class="row clearfix">
                <div class="magni">
                    <div class="icon-box">
                        <i class="ion-ios-search icon-small"></i>
                    </div>
                    <div class="icon-box mag">
                        <button onclick="motor('0M')" class="button highlight">4X</button>
                    </div>
                    <div class="icon-box mag">
                        <button onclick="motor('1M')" class="button">10X</button>
                    </div>
                    <div class="icon-box mag">
                        <button onclick="motor('2M')" class="button">20X</button>
                    </div>
                    <div class="icon-box mag">
                        <button onclick="motor('3M')" class="button">40X</button>
                    </div>
                    <div class="icon-box mag">
                        <button onclick="motor('4M')" class="button">100X</button>
                    </div>
                </div>
            </div>

            <!-- Illumination Intensity Selection -->
            <div class="row clearfix">
                <div class="intensity">
                    <div class="icon-box">
                        <i class="ion-ios-sunny-outline icon-small"></i>
                    </div>
                    <div class="icon-box intense">
                        <label for="OFF"></label>
                        <button onclick="led('0S')" class="button">Off</button>
                    </div>
                    <div class="icon-box slider">
                        <input id="slider" type="range" min="0" max="255" value="102" onchange="slider(this.value)" step="5" />
                    </div>
                    <div class="icon-box intense">
                        <label for="ON"></label>
                        <button onclick="slider(document.getElementById('slider').value)" class="button highlight">On</button>
                    </div>
                </div>
            </div>


            <!-- Focus Selection -->
            <div class="row clearfix focus" id="focus-fine">
                <div class="icon-box">
                    <i class="ion-qr-scanner icon-small"></i>
                </div>
                <div class="icon-box">
                    <button class="button" id="focus1" onmousedown="focusMove('1Q')" onmouseup="focusStop('W')"><b><span class="ion-ios-arrow-up icon-focus-big"></span></b></button>
                </div>
                <div class="icon-box">
                    <button class="button" id="focus2" onmousedown="focusMove('3Q')" onmouseup="focusStop('W')"><span class="ion-ios-arrow-up icon-focus-small"></span></button>
                </div>
                <div class="icon-box">
                    <button class="button" id="focus4" onmousedown="focusMove('4Q')" onmouseup="focusStop('W')"><span class="ion-ios-arrow-down icon-focus-small"></span></button>
                </div>
                <div class="icon-box">
                    <button class="button" id="focus3" onmousedown="focusMove('2Q')" onmouseup="focusStop('W')"><span class="ion-ios-arrow-down icon-focus-big"></span></button>
                </div>
            </div>

            <!-- Time Lapse -->
            <div class="row clearfix time-lapse">
                <div>
                    <p>Time Lapse</p>
                </div>

                <div class="row tl-input" id="startvc">
                    <div class="col span-2-of-5">
                        <i class="ion-ios-timer-outline icon-box"></i>
                        <input type="number" class="form-control" id="text1" ng-model="interval" placeholder="min" min="0.05" step="0.05">
                    </div>
                    <div class="col span-2-of-5">
                        <div>
                            <i class="ion-ios-photos-outline icon-box"></i>
                        </div>
                        <div>
                            <input type="number" class="form-control" id="text2" ng-model="repeat" placeholder="#" min="2" step="1">
                        </div>
                    </div>
                    <div class="col span-1-of-5 icon-box">
                        <button class="button" ng-click="captureVideo(true)" id="but3"><i class="ion-ios-play-outline icon-big play "></i></button>
                    </div>
                </div>

                <div class="row" id="stopvc" style="display:none">
                    <div class="col span-4-of-5">
			             <p id="lapse-info">Remaining images: {{repeat}} <br> Time: {{interval * repeat}} minutes</p>
                    </div>
        		    <div class="col span-1-of-5">
        			<button class="button highlight" ng-click="captureVideo(false)" id="but4"><i class="ion-ios-pause-outline icon-big"></i></button>
        		    </div>
                </div>
            </div>

<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            <!-- Save Movie -->
            <div class="row clearfix time-lapse">
                <div>
                    <p>Movie</p>
                </div>

                <div class="row tl-input" id="start_movie">
                    <div class="col span-4-of-5">
                        <i class="ion-ios-timer-outline icon-box"></i>
                        <input type="number" class="form-control" id="movie_text1" placeholder="min" min=".1" max="2" step=".1" ng-model="movie_minutes">
                    </div>
                    <div class="col span-1-of-5 icon-box">
                        <button class="button" ng-click="movie(true)" id="movie_start_butt"><i class="ion-ios-play-outline icon-big play "></i></button>
                    </div>
                </div>

                <div class="row" id="stop_movie" style="display:none">
                    <div class="col span-4-of-5">
                         <p id="lapse-info">Time : {{movie_minutes * 60}} seconds</p>
                    </div>
                    <div class="col span-1-of-5">
                    <button class="button highlight" ng-click="movie(false)" id="movie_stop_butt"><i class="ion-ios-pause-outline icon-big"></i></button>
                    </div>
                </div>
            </div>

            <!-- Live Preview Image Capture -->
            <div class="row clearfix">
                <div class="capture">
                    <div class="col span-2-of-7" id="live-video">
                        <button class="button-wide" ng-click="liveVideo(true)" id="but1"><span class="ion-ios-eye-outline icon-bigger"></span></button>
                    </div>
                    <div class="col span-2-of-7" id="stop-video" style="display:none">
                        <button class="button-wide highlight" ng-click="liveVideo(false)" id="but2"><span class="ion-ios-eye-outline icon-bigger"></span></button>
                    </div>
                    <div class="col span-2-of-7">
                        <button class="button-wide" ng-click="captureImage()" id="but5"><span class="ion-ios-camera-outline icon-bigger"></span></button>
                    </div>
                    <div class="col span-2-of-7">
                        <a href="#/images" target="_blank"><button class="button-wide"><span class="ion-ios-albums-outline icon-bigger"></span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('div.illum_mode :button').click(function() {
                $(this).addClass('highlight');
                $.each($('div.illum_mode :button'), function(key, value) {
                    if (this != value) $(value).removeClass('highlight');
                }.bind(this));
            });

            $('div.mag :button').click(function() {
                $(this).addClass('highlight');
                $.each($('div.mag :button'), function(key, value) {
                    if (this != value) $(value).removeClass('highlight');
                }.bind(this));
            });

            $('div.intense :button').click(function() {
                $(this).addClass('highlight');
                $.each($('div.intense :button'), function(key, value) {
                    if (this != value) $(value).removeClass('highlight');
                }.bind(this));
            });
        });
            

        var socket = io.connect();
        var prev_turret = 1;
        var current_turret = 1;

        var displayImage = function(data) {
            var URL = 'data:image/jpg;base64,' + data.buffer;
            document.querySelector('#uploaded-image').src = URL;
        };

        var slider = function(val) {
            socket.emit('slider-value', {
                value: val
            });
            console.log("The value of interval is " + val);
        };

        var led = function(val) {
            socket.emit('led', {
                value: val
            });
        };

        var motor = function(val) {
            var slider_value = parseInt(document.getElementById('slider').value);
            current_turret = parseInt(val);
            var temp = current_turret - prev_turret;
            slider_value = slider_value + (temp * 10 / 100 * slider_value);
            document.getElementById('slider').value = slider_value;
            prev_turret = current_turret;
            slider(slider_value);
            socket.emit('motor', {
                value: val
            });
        };

        var imaging = function(val) {
            socket.emit('imaging', {
                value: val
            });
        };

        var focusMove = function(val) {
            socket.emit('focus-move', {
                value: val
            });
        }

        var focusStop = function(val) {
            socket.emit('focus-stop', {
                value: val
            });
        }

        socket.on('welcome', function(data) {
            socket.emit('ping server', {
                hi: 'server'
            });
        });

        socket.on('pong server', function(data) {
            console.log('Got a response back from server: ' + data.temp);
        });

        socket.on('image upload', function(data) {
            displayImage(data);
        });

        socket.on('timelapse', function(data) {
            console.log("data of lapse " + data.temp)
            if (data.temp == "over") {
                document.getElementById('stopvc').style.display = "none";
                document.getElementById('startvc').style.display = "";
                document.getElementById('but3').disabled = true;
                document.getElementById('text1').disabled = true;
                document.getElementById('text2').disabled = true;
                document.getElementById('stop-video').style.display = "none";
                document.getElementById('live-video').style.display = "";
                document.getElementById('but1').disabled = false;
		document.getElementById('movie_text1').disabled = true;
		document.getElementById('movie_start_butt').disabled = true;
		document.getElementById('stop_movie').style.display = "none";
                document.getElementById('start_movie').style.display = "";
            } 
	    else {
                var rem_images = data.temp;
                var interval = document.getElementById('text1').value;
                var rem_time = rem_images * interval;
		console.log(rem_time);
                document.getElementById('lapse-info').innerHTML = "Remaining images: " + rem_images + " <br> Time: " + rem_time + " minutes";
                //initial();
            }
        });

        socket.on('led data', function(data) {
            blueval = data.value;
            console.log(data.value);
        });

        socket.on('sending image', function(data) {
            console.log(data.buff);

        });

        socket.on('disconnect', function(data) {
            console.log('Client got disconnected');
        });

        socket.on('disconnected', function(data) {
            console.log('Client got disconnected');
        });

    </script>
</div>


 <!--  UNUSED CODE ----------------------------------------------------------------

  --- FOCUS WITH FINE/COARSE FOCUS TOGGLE

                <div class="row clearfix focus" id="focus-fine">
                    <div class="icon-box">
                            <i class="ion-qr-scanner icon-small"></i>
                    </div>
                    <div class="icon-box">
                        <button class="button" onmousedown="focusMove('1Q')" onmouseup="focusStop('W')"><span class="ion-ios-arrow-up icon-big"></span></button>
                    </div>
                    <div class="icon-box slider">
                        <div ng-click="changeFocus()">
                            <p>
                                {{focusMode}}
                            </p>
                        </div>
                    </div>
                    <div class="">
                        <button class="button" onmousedown="focusMove('2Q')" onmouseup="focusStop('W')"><span class="ion-ios-arrow-down icon-big"></span></button>
                    </div>
                </div>
                <div class="row" id="focus-course" style="display: none;">
                    <div class="">
                        <button class="button" onmousedown="focusMove('3Q')" onmouseup="focusStop('W')"></button>
                    </div>
                    <div class="">
                        <div ng-click="changeFocus()">
                            <p>
                                {{focusMode}}
                            </p>
                        </div>
                    </div>
                    <div class="">
                        <button class="button" onmousedown="focusMove('4Q')" onmouseup="focusStop('W')"></button>
                    </div>
                </div>

 --- Image Retrieval
            <div class="row">
                <p>Download Images</p>
            </div>
            <div class="row download clearfix">
                <div class="col span-1-of-2">
                    <button class="button-wide dl" id="download-images" ng-click="downloadImages()">Singles</button>
                </div>
                <div class="col span-1-of-2">
                    <button class="button-wide dl" id="download-timelapse" ng-click="downloadTimeLapse()">Time Lapse</button>
                </div>
            </div>

    -->
