<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/album-mod.css">
    <link rel="shortcut icon" type="x-icon" href="resources/img/gallery/Dragon_logo.ico" />
    <title>Fire Images</title>
</head>

<body>
    <div class="row">
        <div class="navi">
            <div class="col span-7-of-12 ">
                <p>Snapshot Images - {{current_date}}</p>
            </div>
            <div class="col span-2-of-12 icon-box">
                <p class="small " ng-click="change_select_text()">{{select_text}}</p>
            </div>
            <div class="col span-1-of-12 icon-box tooltip">
                <i class="ion-ios-cloud-download-outline icon-small" ng-click="download_images()"></i>
            </div>
            <div class="col span-1-of-12 icon-box tooltip">
                <i class="ion-ios-trash-outline icon-small" ng-click="delete_images()"></i>
            </div>
            <div class="col span-1-of-12 icon-box">
                <img src="resources/img/Dragon_logo.ico" alt="BD Logo" />
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="gallery">

            <!--		<span class="closed">+</span>-->
            <a tabindex="1"  ng-repeat="filename in filenames" ondblclick="console.log('hi')" >
                <img src="/./../thumbnail/{{filename}}" id="{{filename.substring(0, filename.indexOf('.'))}}" ng-click="select_deselect(filename)" />
            </a>
            <span class="closed-layer"></span>
        </div>
    </div>
</body>

</html>


<!--  UNUSED CODE ---------------------------------------------------'
    GALLERY IMAGES
            <a tabindex="1"><img src="resources/img/gallery/BRINE%20SHRIMP%2020X%20II.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/BRINE%20SHRIMP%20GREEN%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/DIATOMES%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/PAP%20SMEAR%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20II.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20III.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20IV.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/smile.jpg"></a>
            <a tabindex="1"><img src="resources/img/gallery/BRINE%20SHRIMP%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/BRINE%20SHRIMP%2020X%20II.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/BRINE%20SHRIMP%20GREEN%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/DIATOMES%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/PAP%20SMEAR%2020X%20I.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20II.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20III.png"></a>
            <a tabindex="1"><img src="resources/img/gallery/RABBIT%20TONGUE%2020X%20IV.png"></a>
-->
